.authdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 4rem);
}
.authtitle {
    background: linear-gradient(to right, white, rgb(0, 255, 174));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
.authform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#createacc {
    font-size: 28px;
    font-weight: 500;
}
.authdiv input {
    margin-top: 1rem;
    border-radius: 10px;
    color: black;
    /* font-size: 18px; */
    font-size: 95%;
    text-align: center;
    padding: 0.25rem 1.25rem;
    min-width: fit-content
}
.authdiv input::placeholder {
    text-align: center;
}
@media (max-width: 600px) {
    .authdiv input {
        width: 100%;
    }
    .authform {
        width: 60vw;
    }
}