@tailwind base;
@tailwind components;
@tailwind utilities;

button, [type='button'], [type='reset'], [type='submit'] {
  background-color: darkblue;
}

#root {
  width: 100vw;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(360deg, #00d2ff 0%, #3a47d5 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}